.advantages
  &__title
    padding-bottom: 177px
  &__row
    display: flex
    align-items: stretch
    justify-content: flex-start
    border-bottom: $border
    padding-bottom: 28px
    margin-bottom: 58px
    &:last-of-type
      border-bottom: none
      margin-bottom: 0
  &__item
    width: 33.3%
    padding-right: 32px
  &__svg
    margin: 20px
  &__name
    width: 232px