.banner
  color: #FFFFFF
  position: relative
  width: 100%
  height: 100vh
  overflow: hidden
  background: url("../../../public/build/banner.jpg") 0 0 no-repeat
  background-size: cover
  animation-name: slideBanner
  animation-duration: 40s
  animation-iteration-count: infinite
  &__img
    min-height: 100vh
    object-fit: cover
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0
    animation-name: slide
    animation-duration: 40s
    animation-iteration-count: infinite
    transform-origin: left
  &__wrap
    height: 100vh
    padding-top: 260px
    position: relative
    @media screen and (min-width: 1366px) and (max-width: 1919px)
      padding-top: 200px
    @media screen and (min-width: 1280px) and (max-width: 1365px)
      padding-top: 150px
    @media screen and (max-width: 1279px)
      padding: 20vh 0
      text-align: center
  &__title
    font: normal normal bold 56px/1.56 Manrope
    letter-spacing: 2.8px
    text-transform: uppercase
    max-width: 1165px
    @media screen and (min-width: 1366px) and (max-width: 1919px)
      font-size: 40px
      max-width: 80%
    @media screen and (min-width: 1280px) and (max-width: 1365px)
      font-size: 36px
      max-width: 80%
    @media screen and (max-width: 1279px)
      font-size: 26px
      max-width: unset
      margin: 0 auto
      text-align: center
  &__footer
    position: absolute
    left: 0
    bottom: 102px
    font: normal normal bold 28px/1.15 Manrope
    letter-spacing: 0
    @media screen and (min-width: 1366px) and (max-width: 1919px)
      bottom: 60px
      font-size: 24px
    @media screen and (min-width: 1280px) and (max-width: 1365px)
      bottom: 50px
      font-size: 22px
    @media screen and (max-width: 1279px)
      display: none
    span:after
      content: ""
      height: 1px
      background-color: #fff
      display: inline-block
      transform: translateY(-0.5rem)
      margin: 0 30px
    span:first-of-type:after
      width: 200px
      @media screen and (min-width: 1366px) and (max-width: 1919px)
        width: 160px
      @media screen and (min-width: 1280px) and (max-width: 1365px)
        width: 150px
    span:nth-of-type(2):after
      width: 100px
      @media screen and (min-width: 1366px) and (max-width: 1919px)
        width: 80px
      @media screen and (min-width: 1280px) and (max-width: 1365px)
        width: 70px
@keyframes slide
  0%
    transform: translateX(0)
  5%
    transform: translateX(0)
  45%
    transform: translateX(calc(-100% + 100vw))
  55%
    transform: translateX(calc(-100% + 100vw))
  95%
    transform: translateX(0)
  100%
    transform: translateX(0)

@keyframes slideBanner
  0%
    background-position: 0 0
  5%
    background-position: 0 0
  45%
    background-position: 100% 0
  55%
    background-position: 100% 0
  95%
    background-position: 0 0
  100%
    background-position: 0 0