.benefit
  &__title
    padding-bottom: 70px
  &__wrap
    display: grid
    grid-gap: 32px
    grid-template-columns: repeat(2, 1fr)
    width: 100%
  &__item
    background-color: #fff
    padding: 40px 68px 76px 32px
    display: flex
    align-items: flex-start
    justify-content: flex-start
  &__icon
    min-width: 100px
    height: 100px
    margin-right: 24px
    border-radius: 50%
    border: 5px solid #000
    position: relative
    overflow: hidden
    &:after
      content: "icon"
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      font-weight: 700
      font-size: 22px