.callback
  &__wrap
    margin: 0 auto
    max-width: 800px
  &__title
    text-align: center
    padding-bottom: 40px
  &__desc
    text-align: center
    padding-bottom: 100px
    font-size: 20px
    line-height: 26px
  &__form
    padding: 42px 32px
    .labelwrap
      margin-bottom: 50px
      border-bottom: $border
    .input
      background-color: transparent
      font-size: 24px
    .label
      font-size: 24px
      &_filled
        font-size: 14px
  &__checkbox
    margin-right: 15px
    &-wrap
      display: flex
      align-items: flex-start
      justify-content: flex-start
      padding-bottom: 50px
  &__submit
    padding: 15px 40px
    display: block
    color: #000
    margin: 0 auto
    border: none
    box-shadow: 0 0 0 0 #000 inset, 0 0 0 2px #000
    &:hover
      box-shadow: 0 0 40px 40px #000 inset, 0 0 0 0
      color: #fff