.indicators
  &__title
    padding-bottom: 90px
  &__desc
    max-width: 367px
  &__info
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: flex-start
  &__row
    padding-bottom: 28px
    border-bottom: $border
    display: flex
    align-items: flex-start
    justify-content: flex-start
    margin-bottom: 36px
  &__item
    position: relative
    margin-right: 100px
    &:last-of-type
      margin-right: 0
  &__number
    font: normal normal 800 96px/96px Manrope
    padding: 0 45px 15px 0
  &__unit
    font: normal normal 800 28px/38px Manrope
    position: absolute
    top: 0
    right: 0
    color: #EA2727