.infrastructure
  margin-bottom: 209px
  @media screen and (max-width: 766px)
    margin-bottom: 60px
  &__title
    padding-bottom: 70px
    @media screen and (min-width: 1280px) and (max-width: 1919px)
      padding-bottom: 60px
  &__wrap
    display: grid
    grid-gap: 32px
    grid-template-columns: repeat(3, 1fr)
    padding-bottom: 110px
    @media screen and (min-width: 1280px) and (max-width: 1919px)
      padding-bottom: 70px
    @media screen and (min-width: 767px) and (max-width: 1279px)
      grid-template-columns: repeat(2, 1fr)
      padding-bottom: 45px
    @media screen and (max-width: 766px)
      grid-template-columns: 1fr
      padding-bottom: 45px
  &__item
    overflow: hidden
    position: relative
    height: 384px
    @media screen and (min-width: 1280px) and (max-width: 1919px)
      height: 300px
    @media screen and (min-width: 767px) and (max-width: 1279px)
      height: 350px
    @media screen and (max-width: 766px)
      height: 80vw
    &-title
      display: inline-flex
      text-transform: uppercase
      font-family: "Manrope", sans-serif
      font-weight: 800
      position: relative
      padding: 16.5px 0 18px
      transition: all 0.4s ease
      &:before
        content: ""
        width: 220px
        height: 1px
        background-color: #fff
        position: absolute
        top: 0
        left: 0
        z-index: 1
  &__img
    width: 100%
    height: 100%
    object-fit: cover
    filter: brightness(0.5)
  &__box
    color: #fff
    overflow: hidden
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: flex-start
    position: absolute
    top: 128px
    left: 32px
    right: 32px
  &__block
    background-color: #2C3338
    padding: 32px
    &-number
      color: $concrete
      position: relative
      display: inline-flex
    &-text
      color: #fff
    &-digit
      position: absolute
      top: 0
      left: calc(100% + 14px)
      white-space: nowrap
      font: normal normal 800 32px/44px Manrope
    &_big
      .infrastructure__block-number
        font: normal normal 800 96px/1 Manrope
        padding-bottom: 17.5px
        @media screen and (min-width: 1366px) and (max-width: 1919px)
          font-size: 70px
        @media screen and (min-width: 1280px) and (max-width: 1365px)
          font-size: 60px
        @media screen and (max-width: 1279px)
          font-size: 40px
    &_small
      .infrastructure__block-number
        font: normal normal 800 62px/1 Manrope
        padding-bottom: 27.5px
        @media screen and (min-width: 1366px) and (max-width: 1919px)
          font-size: 40px
        @media screen and (min-width: 1280px) and (max-width: 1365px)
          font-size: 36px
        @media screen and (max-width: 1279px)
          font-size: 34px
  &__button
    margin: 0 auto
    box-shadow: 0 0 0 0 $colorRed inset, 0 0 0 2px $colorRed
    color: $colorRed
    &:hover
      box-shadow: 0 0 40px 40px $colorRed inset, 0 0 0 0
      color: #fff
    &-wrap
      display: flex
      align-items: flex-start
      justify-content: center
  &__svg
    position: absolute
    top: 32px
    left: 32px
    z-index: 1
  &__block
    padding: 42px 32px