.overlay
  position: fixed
  top: 0
  bottom: -5vh
  left: 0
  right: 0
  z-index: 5
  background-color: rgba(24, 38, 56, 0.9)
  display: none
  overflow-y: auto
  &.active
    display: block
.modal
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%,-50%)
  display: none
  background-color: $colorBg
  padding: 56px 56px 66px
  width: 100%
  max-width: 767px
  border-radius: 5px
  overflow: hidden
  @media screen and (min-width: 1280px) and (max-width: 1919px)
    padding: 32px 32px 40px
    width: 40%
  @media screen and (max-width: 1279px)
    max-width: 500px
    width: 85%
    padding: 32px 20px
  &.active
    display: block
  &__close
    position: absolute
    right: 20px
    top: 20px
    cursor: pointer
    background-color: $colorDark
    display: flex
    align-items: center
    justify-content: center
    width: 44px
    height: 44px
    border-radius: 50%
    overflow: hidden
    z-index: 2
    @media screen and (max-width: 1919px)
      right: 10px
      top: 10px
      width: 30px
      height: 30px
    &:before, &:after
      content: ""
      background-color: #fff
      display: block
      width: 25px
      height: 3px
      transform-origin: center center
      position: absolute
      @media screen and (max-width: 1919px)
        width: 20px
    &:before
      transform: rotate(45deg)
    &:after
      transform: rotate(-45deg)
  &__title
    font: normal normal bold 48px/1.6 Manrope
    padding-bottom: 2em
    color: $colorDark
    text-align: center
    @media screen and (min-width: 1280px) and (max-width: 1919px)
      font-size: 34px
    @media screen and (max-width: 1279px)
      font-size: 30px
      line-height: 1.2
      padding-bottom: 1.5em
  .labelwrap
    margin-bottom: 45px
    border-bottom: $border
    @media screen and (min-width: 1366px) and (max-width: 1919px)
      margin-bottom: 40px
    @media screen and (min-width: 1280px) and (max-width: 1365px)
      margin-bottom: 35px
    @media screen and (max-width: 1279px)
      margin-bottom: 25px
  .input
    font-size: 20px
    background-color: transparent
    @media screen and (max-width: 1919px)
      font-size: 16px
  .label
    font-size: 20px
    color: $colorDark
    @media screen and (max-width: 1919px)
      font-size: 16px
    &_filled
      font-size: 14px
      @media screen and (max-width: 1919px)
        font-size: 12px
  &__submit
    text-transform: uppercase
    color: $colorDark
    box-shadow: 0 0 0 0 $colorDark inset, 0 0 0 2px $colorDark
    margin: 0 auto 45px
    display: block
    padding: 15px 50px
    @media screen and (min-width: 1280px) and (max-width: 1919px)
      padding: 10px 40px
    @media screen and (max-width: 1279px)
      padding: 8px 30px
      margin-bottom: 30px
    &:hover
      box-shadow: 0 0 40px 40px $colorDark inset, 0 0 0 0
      color: $colorMain
  span
    display: block
    color: $colorDark