.price-block
  &__wrap
    height: 100vh
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
  &__title
    text-align: center
    padding-bottom: 96px
    @media screen and (min-width: 1280px) and (max-width: 1919px)
      padding-bottom: 60px
  &__box
    width: 100%
    display: grid
    grid-gap: 32px
    grid-template-columns: repeat(3, 1fr)
  &__item
    background-color: transparent
    padding: 60px 30px 68px
    text-align: center
    transition: all 0.3s ease
    @media screen and (min-width: 1280px) and (max-width: 1919px)
      padding: 40px 15px 40px
    &.active
      background-color: #2C3338
      color: #fff
      .price-block__item-link
        opacity: 1
    &-icon
      width: 118px
      max-height: 93px
      overflow: hidden
      margin: 0 auto 30px
      @media screen and (min-width: 1280px) and (max-width: 1919px)
        width: 85px
    &-title
      max-width: 264px
      font: normal normal bold 28px/1.15 Manrope
      padding-bottom: 20px
      border-bottom: $border
      margin: 0 auto 26px
      @media screen and (min-width: 1280px) and (max-width: 1919px)
        font-size: 24px
    &-desc
      font: normal normal bold 16px/24px Manrope
      text-transform: uppercase
      padding-bottom: 27px
    &-link
      color: $colorMain
      box-shadow: 0 0 0 0 $colorMain inset, 0 0 0 2px $colorMain
      margin: 0 auto
      opacity: 0
      &:hover
        box-shadow: 0 0 40px 40px $colorMain inset, 0 0 0 0
        color: #000