.residents
  &__title
    padding-bottom: 37px
  &__wrap
    padding: 60px 0
    border-bottom: $border
    border-top: $border
  &__box
    display: flex
    align-items: center
    justify-content: space-between
  &__img
    overflow: hidden