.types
  margin-bottom: 159px
  &__title
    padding-bottom: 97px
    @media screen and (min-width: 1366px) and (max-width: 1919px)
      padding-bottom: 80px
    @media screen and (min-width: 1280px) and (max-width: 1365px)
      padding-bottom: 60px
    @media screen and (max-width: 1279px)
      padding-bottom: 45px
  &__wrap
    display: grid
    grid-gap: 32px
    grid-template-columns: repeat(3, 1fr)
    width: 100%
    @media screen and (max-width: 1279px)
      overflow-x: auto
      grid-gap: 15px
      &::-webkit-scrollbar
        width: 0
        height: 0
        background: transparent
        -ms-overflow-style: none
        scrollbar-width: none
        overflow: -moz-scrollbars-none
  &__item
    position: relative
    padding: 40px 32px 48px
    background-color: transparent
    height: 766px
    transition: all 0.3s ease
    @media screen and (min-width: 1366px) and (max-width: 1919px)
      height: 730px
      padding: 30px 32px 40px
    @media screen and (min-width: 1280px) and (max-width: 1365px)
      height: 650px
      padding: 20px 20px 30px
    @media screen and (max-width: 1279px)
      height: auto
      padding: 20px 15px 60px
      width: 76vw
      max-width: 500px
      background-color: #2C3338
      color: #fff
    &.active
      background-color: #2C3338
      color: #fff
      .types__item-link
        z-index: 1
        opacity: 1
    &-title
      padding-bottom: 24px
      height: calc(3em*1.15 + 24px)
      @media screen and (min-width: 1366px) and (max-width: 1919px)
        padding-bottom: 20px
        height: calc(4em*1.15 + 20px)
      @media screen and (max-width: 1279px)
        text-align: center
        padding-bottom: 20px
    &-desc
      padding-bottom: 32px
      height: calc(7em*1.5 + 32px)
      border-bottom: 1px solid $concrete
      margin-bottom: 44px
      @media screen and (min-width: 1280px) and (max-width: 1919px)
        padding-bottom: 20px
        height: calc(9em*1.5 + 32px)
        margin-bottom: 20px
      @media screen and (max-width: 1279px)
        padding-bottom: 25px
        text-align: center
        height: auto
    &-li
      margin-bottom: 25px
      display: flex
      align-items: center
      justify-content: flex-start
      @media screen and (min-width: 1280px) and (max-width: 1919px)
        margin-bottom: 20px
      @media screen and (max-width: 1279px)
        margin-bottom: 15px
    &-icon
      margin-right: 16px
      background-color: transparent
      @media screen and (min-width: 1280px) and (max-width: 1919px)
        margin-right: 10px
      @media screen and (max-width: 1279px)
        margin-right: 0
        transform: scale(0.7)
        transform-origin: left
    &-link
      position: absolute
      bottom: 48px
      right: 32px
      color: $concrete
      z-index: -1
      opacity: 0
      box-shadow: 0 0 0 0 $concrete inset, 0 0 0 2px $concrete
      @media screen and (min-width: 1366px) and (max-width: 1919px)
        bottom: 40px
      @media screen and (min-width: 1280px) and (max-width: 1365px)
        bottom: 30px
      @media screen and (max-width: 1279px)
        bottom: 15px
        right: 15px
        z-index: 1
        opacity: 1
      &:hover
        box-shadow: 0 0 40px 40px $concrete inset, 0 0 0 0
        color: #000