.types
  &__title
    padding-bottom: 97px
  &__wrap
    display: grid
    grid-gap: 32px
    grid-template-columns: repeat(3, 1fr)
    width: 100%
  &__item
    position: relative
    padding: 40px 32px 48px
    background-color: transparent
    height: 766px
    transition: all 0.3s ease
    &.active
      background-color: #2C3338
      color: #fff
      .types__item-link
        z-index: 1
        opacity: 1
    &:before
      content: ''
      position: absolute
      width: calc(100% - 64px)
      height: 1px
      background-color: #90906C
      top: 364px
      left: 32px
    &-title
      font: normal normal bold 28px/32px Manrope
      padding-bottom: 24px
    &-desc
      padding-bottom: 30px
    &-list
      position: absolute
      left: 32px
      right: 32px
      top: 407px
    &-li
      margin-bottom: 32px
      display: flex
      align-items: center
      justify-content: flex-start
    &-icon
      min-width: 32px
      height: 32px
      border-radius: 50%
      border: 2px solid #000
      position: relative
      overflow: hidden
      margin-right: 16px
      &:after
        content: "icon"
        position: absolute
        top: 50%
        left: 50%
        transform: translate(-50%,-50%)
        font-size: 8px
    &-link
      position: absolute
      bottom: 48px
      right: 32px
      color: $colorMain
      z-index: -1
      opacity: 0
      box-shadow: 0 0 0 0 $colorMain inset, 0 0 0 2px $colorMain
      &:hover
        box-shadow: 0 0 40px 40px $colorMain inset, 0 0 0 0
        color: #000