<section class="types block">
  <div class="container">
    <h2 class="types__title block__title">Варианты приобретения</h2>
    <div class="types__wrap">
      <div class="types__item active">
        <h3 class="types__item-title">Покупка готовых производственно-складских зданий по схеме Bluit-to-Suit</h3>
        <div class="types__item-desc">Строительство объекта под ключ на основании технического задания, учитывающего
          все индивидуальные требования заказчика. Схема сделки подразумевает заключение договора купли-продажи
          будущей вещи после проектирования и утверждения сметы. Оплата производится в согласованном графике
          утвержденным договором.
        </div>
        <ul class="types__item-list">
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Сроки и стоимость фиксируются договором</span>
          </li>
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Минимальные сроки запуска проекта</span>
          </li>
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Заказчик получает полностью готовый объект</span>
          </li>
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Минимизация рисков</span>
          </li>
        </ul>
        <a href="catalog/store" class="types__item-link button">Подробнее</a>
      </div>
      <div class="types__item">
        <h3 class="types__item-title">Покупка земельного участка промышленного назначения</h3>
        <div class="types__item-desc">Земельные участки с техническим присоединением к инженерным сетям на уровне
          заявленных требований к объемам энергоносителей, для строительства проектируемого объекта.
        </div>
        <ul class="types__item-list">
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Точки подключения к инженерным сетям на границе участка</span>
          </li>
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Минимальные сроки запуска проекта</span>
          </li>
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Возможность организации ж.д. тупика дорогам</span>
          </li>
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Организация подъезда к участку по внутрипарковым дорогам</span>
          </li>
        </ul>
        <a href="catalog/land" class="types__item-link button">Подробнее</a>
      </div>
      <div class="types__item">
        <h3 class="types__item-title">Строительство производственно-складских зданий под ключ</h3>
        <div class="types__item-desc">Строительство объекта под заказчика с учетом его требований к зданию и площадке,
          и особенностей бизнеса. Проектирование объекта и расчет сметы строительства производятся на основании
          техзадания заказчика. Оплата в согласованном графике на период строительства.
        </div>
        <ul class="types__item-list">
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Минимизация рисков</span>
          </li>
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Проектирование и сбор ИРД</span>
          </li>
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Ввод объекта в эксплуатацию</span>
          </li>
          <li class="types__item-li">
            <div class="types__item-icon"></div>
            <span class="types__item-span">Стоимость и сроки фиксируются договором</span>
          </li>
        </ul>
        <a href="catalog/detailed" class="types__item-link button">Подробнее</a>
      </div>
    </div>
  </div>
</section>