{% extends 'base.html.twig' %}
{% block content %}
  <div class="page error-page block">
    <div class="container">
      <h1 class="title">Ошибка 404</h1>
      <div class="error-page__text">Вы ищете страницу которой не существует</div>
      <a href="/" class="error-page__link button">Перейти на главную страницу сайта</a>
    </div>
  </div>
{% endblock %}
