{% extends 'base.html.twig' %}
{% block content %}
  <div class="page-text">
    <div class="container">
      <div class="breadcrumbs">
        <a href="/" class="breadcrumbs__link">Главная</a>
        <a href="/about" class="breadcrumbs__link">Об индустриальном парке</a>
      </div>
      <h1 class="title">Об индустриальном парке</h1>
      <div class="">
        <p>Индустриальный парк «ЕКАД Южный»&nbsp;— это действующий проект формата Greenfield нацеленный на&nbsp;комплексное
          освоение и&nbsp;развитие территории, предназначенной для размещения объектов промышленно-логистического
          назначения, с&nbsp;санитарно-защитной зоной от&nbsp;50&nbsp;до&nbsp;500&nbsp;метров, расположенный в&nbsp;Чкаловском
          районе г.Екатеринбург. Общая площадь парка 320&nbsp;гектар.</p>

        <p><strong>Наши преимущества:</strong></p>

        <ul>
          <li>действующие подъездные ж/д пути</li>
          <li>транспортная доступность</li>
          <li>примыкание к&nbsp;ЕКАД</li>
          <li>расположение в&nbsp;черте города</li>
          <li>инфраструктура внутри парка:
            <ul>
              <li>электроснабжение</li>
              <li>газоснабжение</li>
              <li>водоснабжение</li>
              <li>канализационные сети</li>
              <li>дороги</li>
              <li>ливневые стоки</li>
            </ul>
          </li>
        </ul>

        <p>Мы&nbsp;предлагаем выгодные условия для покупки участка с&nbsp;возможностью приобретения территории в&nbsp;рассрочку.
          Резидентами нашего парка могут стать как российские, так и&nbsp;международные компании.</p>

        <p><strong>Наши контакты:</strong><br>
          <a href="tel:79222912529">+7 (922) 291-25-29</a><br>
          <a href="79221682005">+7 (922) 168-20-05</a><br>
          <a href="mailto:prompark96@mail.ru">prompark96@mail.ru</a><br>
          г. Екатеринбург, ул. Бориса Ельцина, 1а, этаж&nbsp;16, офис 16.09</p>

        <p>Управляющая компания индустриального парка ООО «ПромРазвитие».</p>
      </div>
    </div>
  </div>
{% endblock %}