{% extends 'base.html.twig' %}
{% block content %}
  <div class="page about block">
    <div class="container">
      <div class="breadcrumbs">
        <a href="/" class="breadcrumbs__link">Главная</a>
        <a href="/about" class="breadcrumbs__link">О компании</a>
      </div>
      <h1 class="title">О компании</h1>
      <div>
        <p>ЕКАД Южный&nbsp;— это промышленный индустриальный парк в&nbsp;Екатеринбурге.</p>

        <p>Самый перспективный проект на&nbsp;Урале формата Greenfield, нацеленный на&nbsp;комплексное освоение и&nbsp;развитие
          территории, предназначенной для размещения объектов промышленно-логистического назначения, расположенный в&nbsp;Чкаловском
          районе.</p>

        <p>Наши преимущества:</p>

        <ul class="ul">
          <li>действующие подъездные ж/д пути</li>
          <li>транспортная доступность</li>
          <li>примыкание к&nbsp;ЕКАД</li>
          <li>расположение в&nbsp;черте города</li>
          <li>инфраструктура внутри парка:
            <ul>
              <li>электроснабжение</li>
              <li>газоснабжение</li>
              <li>водоснабжение</li>
              <li>канализационные сети</li>
              <li>дороги</li>
              <li>ливневые стоки</li>
            </ul>
          </li>
        </ul>

        <p>Мы&nbsp;предлагаем выгодные условия для покупки участка с&nbsp;возможностью приобретения территории в&nbsp;рассрочку.
          Резидентами нашего парка могут стать как российские, так и&nbsp;международные компании.</p>

        <p>Наши контакты:<br>
          +7 (922) 291-25-29<br>
          +7 (922) 168-20-05<br>
          <a href="mailto:prompark96@mail.ru">prompark96@mail.ru</a><br>
          г. Екатеринбург, ул. Бориса Ельцина, 1а, этаж&nbsp;16, офис 16.09</p>

        <p>Управляющая компания индустриального парка ООО «ПромРазвитие».</p>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. <a href="/">Съешь ещё</a> этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких
          французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих
          мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё
          этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <p>Съешь ещё этих <strong>мягких </strong>французских булок, да <em>выпей </em>же чаю. Съешь ещё этих мягких
          французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих
          мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё
          этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь
          ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.
        </p>

        <h2>Заголовок h2</h2>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <blockquote>
          <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
            же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
            выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
            булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких
            французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>
        </blockquote>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <h3>Заголовок h3</h3>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <p>очень красивый маркированный список:</p>

        <ul class="ul">
          <li>очень красивый маркированный список</li>
          <li>очень красивый маркированный список
            <ul>
              <li>очень красивый маркированный список</li>
              <li>очень красивый маркированный список</li>
            </ul>
          </li>
          <li>очень красивый маркированный список</li>
          <li>очень красивый маркированный список</li>
        </ul>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <p>очень красивый нумерованный список:</p>

        <ol>
          <li>очень красивый нумерованный список</li>
          <li>очень красивый нумерованный список
            <ol>
              <li>очень красивый нумерованный список</li>
              <li>очень красивый нумерованный список</li>
            </ol>
          </li>
          <li>очень красивый нумерованный список</li>
          <li>очень красивый нумерованный список</li>
        </ol>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <table>
          <thead>
          <tr>
            <th scope="col">Заголов 1</th>
            <th scope="col">Заголов 2</th>
            <th scope="col">Заголов 3</th>
            <th scope="col">Заголов 4</th>
            <th scope="col">Заголов 5</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Очень красивый текс 1</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          </tbody>
        </table>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <h2>Заголовок h2</h2>

        <table>
          <tbody>
          <tr>
            <th scope="row">Заголов 1</th>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <th scope="row">Заголов 2</th>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <th scope="row">Заголов 3</th>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <th scope="row">Заголов 4</th>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <th scope="row">Заголов 5</th>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          </tbody>
        </table>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>
      </div>
    </div>
  </div>
{% endblock %}