{% extends 'base.html.twig' %}
{% block content %}
  <div class="page catalog-detailed">
  <div class="container">
    <div class="breadcrumbs">
      <a href="/" class="breadcrumbs__link">Главная</a>
      <a href="/catalog" class="breadcrumbs__link">Объекты в продаже</a>
      <a href="/catalog/detailed" class="breadcrumbs__link">Готовые производственно-складские здания по схеме
        Bluit-to-Suit</a>
    </div>
    <h1 class="title">Готовые производственно-складские здания по схеме
      Bluit-to-Suit</h1>
    <div class="catalog-detailed__img img"><img src="{{ asset('build/catalog-detailed.png') }}" alt="catalog-detailed">
    </div>
    <div class="catalog-detailed__text">
      <p>Build-to-suilt (BTS) — это строительство объекта для конкретного клиента, которое учитывает его требования и
        особенности бизнеса. Эта схема отношений устанавливается между Управляющей компанией индустриального
        парка (потенциальным инвестором) и клиентом. BTS стал очень распространенной схемой взаимодействия в
        практике реализации индустриальных проектов. Инвестирование в собственное производство является для любой
        компании весьма ответственным шагом. Этот процесс сопряжен с целым рядом рисков, которые могут привести к
        существенным убыткам для компании</p>
      <p>Размещение производства в индустриальном парке позволяет существенно сократить (а зачастую исключить)
        риски, которые могут возникнуть у наших клиентов. Безусловно, в индустриальном парке компании-резиденты
        могут приобрести подготовленные к застройке земельные участки. Разрешенное использование позволяет
        размещать объекты производственно-складского назначения V класса вредности. Но приобретение
        подготовленного участка в индустриальном парке снимает риски только начального этапа инвестирования.</p>
      <p>В последующем, компании сталкиваются с рядом процессов и процедур, которые настолько забюрократизированы
        и непрозрачны, что нередко заставляют вообще отказаться от идеи строительства собственного производства и
        начать поиск компромиссов среди существующих объектов, которые абсолютно не предназначены для
        размещения предприятия конкретного заказчика.</p>
      <p>Решение, которое мы предлагаем, это — «build-to-suilt» с последующей продажей объекта клиенту, либо его сдачей
        в долгосрочную аренду (на 10 лет и более).</p>
      <p>Для определения коммерческих условий работы, получения дополнительной информации необходимо направить,
        в наш адрес техническое задание, либо связаться с нашим консультантом любым удобным для Вас способом.</p>
    </div>
  </div>
{% endblock %}