{% extends 'base.html.twig' %}
{% block content %}
  <div class="page-text">
    <div class="container">
      <div class="breadcrumbs">
        <a href="/" class="breadcrumbs__link">Главная</a>
        <a href="/testovaya" class="breadcrumbs__link">Тестовая</a>
      </div>
      <h1 class="title">Тестовая</h1>
      <div>
        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. <a href="/">Съешь ещё</a> этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких
          французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих
          мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё
          этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <p>Съешь ещё этих <strong>мягких </strong>французских булок, да <em>выпей </em>же чаю. Съешь ещё этих мягких
          французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих
          мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё
          этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь
          ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.
        </p>

        <h2>Заголовок h2</h2>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <blockquote>
          <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
            же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
            выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
            булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких
            французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>
        </blockquote>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <h3>Заголовок h3</h3>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <p><strong>очень красивый маркированный список:</strong></p>

        <ul>
          <li>очень красивый маркированный список</li>
          <li>очень красивый маркированный список
            <ul>
              <li>очень красивый маркированный список</li>
              <li>очень красивый маркированный список</li>
            </ul>
          </li>
          <li>очень красивый маркированный список</li>
          <li>очень красивый маркированный список</li>
        </ul>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <p><strong>очень красивый нумерованный список:</strong></p>

        <ol>
          <li>очень красивый нумерованный список</li>
          <li>очень красивый нумерованный список
            <ol>
              <li>очень красивый нумерованный список</li>
              <li>очень красивый нумерованный список</li>
            </ol>
          </li>
          <li>очень красивый нумерованный список</li>
          <li>очень красивый нумерованный список</li>
        </ol>

        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>
        <div class="table-wrap">
          <table>
          <thead>
          <tr>
            <th scope="col">Заголов 1</th>
            <th scope="col">Заголов 2</th>
            <th scope="col">Заголов 3</th>
            <th scope="col">Заголов 4</th>
            <th scope="col">Заголов 5</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td>Очень красивый текс 1</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          </tbody>
        </table>
        </div>
        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>

        <h2>Заголовок h2</h2>
        <div class="table-wrap">
          <table>
          <tbody>
          <tr>
            <th scope="row">Заголов 1</th>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <th scope="row">Заголов 2</th>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <th scope="row">Заголов 3</th>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <th scope="row">Заголов 4</th>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          <tr>
            <th scope="row">Заголов 5</th>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
            <td>Очень красивый текс</td>
          </tr>
          </tbody>
        </table>
        </div>
        <p>Съешь ещё этих мягких французских булок, да выпей же чаю. Съешь ещё этих мягких французских булок, да выпей
          же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да
          выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских булок,
          да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.Съешь ещё этих мягких французских
          булок, да выпей же чаю.Съешь ещё этих мягких французских булок, да выпей же чаю.</p>
      </div>
    </div>
  </div>
{% endblock %}